*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Digital;
    src: url(./fonts/digital.ttf);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);;
}

form{
    display: flex;
    justify-content: center;
}
table{
    width: 25%;
    height: 100%;
}

button{
    color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.4);
    font-size: 20px;
    font-weight: bolder;
    width: 100%;
    height: 100%;
    padding: 15px;
    border: none;
    transition: all 0.5s ease;
    position: relative;
    cursor: pointer;
}

button:hover{
    background-color:rgba(255, 252, 252, 0.7);
    font-weight: bold;
}

.operadores{
    background-color: rgba(255, 106, 106, 0.678);
}

.operadores:hover{
    background-color: rgb(144, 241, 168);
}
input{
    font-family: Digital;
    background-color: rgba(0,0,0,0.4);
    color: aliceblue;
    width: 100%;
    padding: 10px 5px;
    font-size:40px;
    text-align: end;
    height: 70px;
    border: none;
    position:relative;
}

button img{
    width: 20px;
    height: 20px;  
}

#resetear,
#eliminar,
#igual{
    background-color: rgba(243, 221, 99, 0.623);
}

#resetear:hover,
#eliminar:hover,
#igual:hover{
    background-color: rgb(99, 202, 243);
}
